
*.pyc
.idea
.idea/grapa.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
/grapa.egg-info/dependency_links.txt
/grapa.egg-info/PKG-INFO
/grapa.egg-info/requires.txt
/grapa.egg-info/SOURCES.txt
/grapa.egg-info/top_level.txt
/_publication_howto/
/dist/*.*
/docs/source/_autosummary/
/docs/build/doctrees/
/grapa/.hypothesis/
/tests/.hypothesis/
