
__pycache__
*.pyc

/.vscode/
/.idea/
/grapa.egg-info/
/dist/
/.pytest_cache/
/.idea/

.idea/grapa.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
/_publication_howto/


/docs/source/_autosummary/
/docs/build/doctrees/

/grapa/.hypothesis/

/tests/.hypothesis/

