
__pycache__/
*.py[cod]


/.vscode/
.vscode/settings.json
/.idea/
/grapa.egg-info/
/dist/
/.pytest_cache/
/.pytest-build_sdist/


/docs/source/_autosummary/
/docs/build/doctrees/

/_publication_howto/

/grapa/.hypothesis/

/tests/.hypothesis/
